.footer-bg{
    background: linear-gradient(to left, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.text-color {
    color: rgba(255, 255, 255, 0.7);
}
.footer-border {
    border-top: 1px solid #3F3E45;
}